/* CSS Document */
/* All comments go between the front slash and asterisk symbols */

body {
	
	font-size:14px;
	font-family: Open Sans ;
}

	
h4 { 
	text-align:center;     /* centers h1 and h2 content */
    color: #010101;

	font-size:25px;
    
	
}


.stepTitle{
	padding:6px;
	text-align:left;
	font-size:20px;
	background-color:#EBF5F2;
	color: #020202;
	border-radius:20px;
	margin-bottom: 2px;
	
	
 }

.stepContent{ 
	background-color:#EBF5F2;
	padding:16px;
	display: flex;
	justify-content:left;
	border-radius:20px;
	text-align:left;
		
	
}

.stepDescription {
	width:50%;
	padding:6px;
	font-size:125%;
	border-radius:20px;
	text-align:left;
	
}

.stepImage {
	width:50%;	
	padding:12px;
    text-align: center;
		
}

img { 
border-radius: 10px;
		
border: 2px solid #848483
		
 

}
	
	
.notifications {
		background-color:#E48D8F;
		padding:10px;
		border-radius:25px;
	}

	
	.material-icons {
	color:#02568a; 
	font-size:3em;
}

.insideparagraph {
    
    background-color: #418D9A;
    border-radius: 10px;
    border: black 2px solid;
    padding: 2px;
    margin: 5px;
    text-align: center;
    width: 100%;
  }




