/* CSS Document */
/* All comments go between the front slash and asterisk symbols */

body {
	background-color:#D9DDE7;   /* background color                                */
	color: #313233;          /* text color for the                           entire page */
	font-size:14px;
	font-family: Arial, sans-serif;
}

h1, h2 { 
	text-align:center;     /* centers h1 and h2 content */
    color: #ffffff;
	background-color:#02568a;
	font-size:25px;
    padding:10px;
	border-radius:20px;
	
}

/* styles for the "wrapper" div, notice that "wrapper" is preceded by "#" */
#wrapper {
	width: 1000px; 
	margin:0 auto;    /* centers wrapper */
	
}

/* styles for the "stepTitle" class, notice that "stepTitle" is preceded by a dot */
.stepTitle{
	padding:6px;
	text-align:left;
	font-size:20px;
	background-color:#02568a;
	color: #ffffff;
	border-radius:20px;
	margin-bottom: 2px;
	
	
 }

.stepContent{ 
	background-color: whitesmoke;
	padding:16px;
	display: flex;
	justify-content:left;
	border-radius:20px;
		
	
}

.stepDescription {
	width:50%;
	padding:6px;
	font-size:16px;
	border-radius:20px;
	
}

.stepImage {
	width:50%;	
	padding:12px;
    text-align: center;
		
}

img { 
border-radius: 10px;
		
border: 2px solid #848483
		
 

}
	
	
.notifications {
		background-color:#E48D8F;
		padding:10px;
		border-radius:25px;
	}

	
	.material-icons {
	color:#02568a; 
	font-size:3em;
}






