@charset "UTF-8";
/* CSS Document */

body {
	text-align: center;
	background-color: #DCEEF7;
	
}
a{
	pandding:15px;
    margin:5px;
	font-size:25px;
	background-color:;
	color:;

}
h1{
color:#000000;
font-size: 200%
}
h2 {
color:#000000;
font-size: 175%

}

	

.A {
	width:100%;
	text-align: left;
	font-size:25px;
	
	